.note-card {
  background: #fff8c4;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.date-delete {
  display: flex;
  justify-content: space-between; /* espace max entre date et croix */
  align-items: center;
}

.note-date {
  font-size: 16px;
  color: #666;
}

.delete-btn {
  background: none;
  border: none;
  color: red;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.delete-btn:hover {
  color: darkred;
}
